extends layout.pug 

block number1
    if error 
        p Please fill in the input

    if success 
        p Well done 
    form(action = "/add" method='POST')
        input.input(type="text" placeholder="Add your tasks' description for a day" name="todo")
        button.btn Add 

    
    div.todos
        if todos.length 
            each todo in todos 
                p.todo #{ todo.description }
        else 
            p.todo No any task available