doctype html
html(lang="en")
    head
        title Day tasks App 
        link(rel="stylesheet", href="/static/main.css")
    body 
        div.wrapper 
            h1.logo Day tasks App 

            block number1 