doctype html
html(lang="en")
    head
        title Day tasks App 
        link(rel="stylesheet", href="/static/main.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet")
    body 
        div.wrapper 
            h1.logo Day tasks App 

            block number1 